 html,body{
            height: 100%;
            max-height: 100%;
        }
 .top-container{
            padding-top: 10%;
 }
 .general-container{
            background: url('img/bg1.jpg');
            height: 100%;
            position: relative;
           font-family: 'Audiowide', cursive;
        }
 .general-container form{
     margin-top: 20px;
 }
 .general-container form label{
     font-weight: 100;
 }
 h1 {
     color: whitesmoke;

 }
 .title{
     color: whitesmoke;
     text-align: center;
     line-height: 50px ;
      font-weight: 100;
 }
 label{
     color:whitesmoke;
     font-weight: 100;
 }
