{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="section-top">
        <img  src="{% static "img/bs.jpg" %}" class="image-responsive" width="100%" height="100%">

    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <h1 class="text-center"> Акції та новини </h1>
                <h3>
                    «0+: Кіно для батьків із малюками»
                </h3>
                <h4>
                    Соціально активне життя після народження дитини… ТРИВАЄ!
                    <br>

Кінотеатр «Fox Cinema» та спільнота «Київ дружній до батьків і малюків» запрошують на сеанси проекту «0+: Кіно для батьків із малюками».<br>
                    <ul>Ми пропонуємо:
                        <li> Великий і зручний зал на першому поверсі («Гегемон», 400 місць)</li>
                        <li> Приглушені звук (задля комфорту дітей) і світло (можливість пересуватися по залу)</li>
                        <li> Два пеленатори у залі</li>
                        <li> Мікрохвильовки у залі (для розігріву молока чи перекусів)</li>
                        <li> Дитячу ігрову зону в залі (великий килим коло екрану, іграшки)</li>
                        <li> Пологий пандус</li>
                        <li> Просторе фойє для «паркінгу» дитячих візочків </li>
                    </ul>

<br>
                    <br>
                    <br>
                    <br>
19.12.17 - 10-00 - «Зоряні війни: Останні джедаї» 2Д  (українською мовою).


<br>
Планується проведення «0+: Кіно для батьків із малюками» щовівторка о 10-00.
<br>
У програмі лише актуальні фільми з репертуару кінотеатру.
<br>
Чекаємо на Вас! Приходьте і запрошуйте своїх друзів!
<br>

Спільнота «Київ дружній до батьків і малюків»
                </h4>

                <h3>
                    Знижки на квитки.
                </h3>
                <br>
                <h4>
                    З 29.04.2016р. для школярів, студентів, пенсіонерів та учасників АТО діє знижка на квитки у розмірі 10 грн.
                    <br>

Для отримання знижки необхідно пред'явити учнівський квиток, студентський квиток денної форми навчання, пенсійне посвідчення або посвідчення учасника АТО касиру перед купівлею квитка, а потім контролеру перед входом до кінозали.
<br>
Інформацію про наявність знижок на конкретні сеанси можна отримати в касах кінотеатру.
                    <br>
                </h4>
            </div>
        </div>
    </div>
     {% endblock %}
