{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>
<div class="wrapper">
    <div class="wrapper-content">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
    </div>
</div>

    {% include 'footer.html' %}

</body>
</html>