{% load static %}
 <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<nav class="navbar navbar-default navbar-top1">cv</nav>
<nav class="navbar navbar-static-top navbar-main">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <img  src="{% static "img/logo4.png" %}" style="position: inherit">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" ><img  src="{% static "img/logo4.png" %}" style="position: inherit"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
            <a class="logo-box" href="/">
                <span class="logo-bg"></span>
                <img  src="{% static "img/logo4.png" %}" style="position: inherit">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Головна</a></li>
            <li><a href="akcii">Акції та новини</a></li>
            <li><a href="categories">Категорії</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="basket-container">
                    <a href="">КОРЗИНА</a>
                     <div class="basket-items hidden">
                        <ul class="">
                            <li> fgdfgdfg</li>
                            <li> fgdfgdfg</li>
                            <li> fgdfgdfg</li>
                        </ul>
                     </div>
                </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>